.btn-header {
	text-align: center;
	padding: 11px 36px;
	background: none;
	border-radius: 500px;
	color: inherit;
	border: 1px solid transparent;
	position: relative;
	background: var(--bg-main);
	cursor: pointer;
	transition: 0.25s;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: -1;
		margin: -2px;
		border-radius: inherit;
		background: linear-gradient(to right, #ee0979, #ff6a00);
	}

	&:hover {
		background: none;
	}
}
