.btn {
	border-radius: 500px;
	background: linear-gradient(90deg, #ee0979 0%, #ff6a00 100%);
	box-shadow: 0 20px 30px 0 rgba(179, 34, 31, 0.2);
	padding: 23px 0;
	text-align: center;
	border: none;
	cursor: pointer;
	color: inherit;
	width: 100%;
}