.btn {
	border-radius: 500px;
	padding: 23px 0;
	text-align: center;
	border: none;
	cursor: pointer;
	color: inherit;
	width: 100%;
	transition: .25s;
}

.btn_use-background {
	background: linear-gradient(90deg, #ee0979 0%, #ff6a00 100%);
}

.btn_hover {
	transition: .25s;
	&:hover {
		background: linear-gradient(90deg, #FFC700 0%, #FF005C 100%);
	}

}

.btn_use-small {
	padding: 11px 0;
}

.btn_no-background {
	border: 1px solid transparent;
	position: relative;
	background: var(--bg-main);
	color: inherit;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: -1;
		margin: -2px;
		border-radius: inherit;
		background: linear-gradient(to right, #ee0979, #ff6a00);
	}
}
.btn_use-shadow {
	box-shadow: 0 20px 30px 0 rgba(179, 34, 31, 0.2);
}

