
.input {
	background: #42204e;
	padding: 25px 25px 25px 30px;
	border-radius: 500px;
	display: flex;
	align-items: center;
}

.input__input {
	border: none;
	color: inherit;
	outline: none;
	background: none;
	width: 100%;
	&::placeholder {
		color: #8b5d9a;
	}
}

.input__icon {
	margin-right: 20px;
}

.input__manage-password {
	cursor: pointer;
}

.input__manage-password__view {

	&::before {
		content: "";
		display: inline-flex;
		width: 100%;
		height: 2px;
		transform: rotate(45deg);
		background: #fff;
	}
}